@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 230 67% 97%;
    --foreground: 222 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 4.9%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 50% 92%;
    --secondary-foreground: 222 84% 4.9%;
    --muted: 230 50% 92%;
    --muted-foreground: 222 84% 25%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 230 30% 88%;
    --input: 230 30% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 36 100% 50%;
    --chart-3: 210 40% 96.1%;
    --chart-4: 14.1 71.1% 45.3%;
    --chart-5: 172 76% 36%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222 84% 4.9%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 230 67% 97%;
    --sidebar-accent-foreground: 231 48% 48%;
    --sidebar-border: 230 30% 88%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 232 32% 16%;
    --foreground: 230 67% 97%;
    --card: 232 32% 20%;
    --card-foreground: 230 67% 97%;
    --popover: 232 32% 16%;
    --popover-foreground: 230 67% 97%;
    --primary: 230 67% 97%;
    --primary-foreground: 231 48% 20%;
    --secondary: 232 32% 25%;
    --secondary-foreground: 230 67% 97%;
    --muted: 232 32% 25%;
    --muted-foreground: 230 67% 80%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 232 32% 30%;
    --input: 232 32% 30%;
    --ring: 230 67% 97%;
    --chart-1: 230 67% 97%;
    --chart-2: 36 100% 50%;
    --chart-3: 232 32% 30%;
    --chart-4: 14.1 71.1% 45.3%;
    --chart-5: 172 76% 36%;
    --sidebar-background: 232 32% 12%;
    --sidebar-foreground: 230 67% 97%;
    --sidebar-primary: 230 67% 97%;
    --sidebar-primary-foreground: 231 48% 20%;
    --sidebar-accent: 232 32% 22%;
    --sidebar-accent-foreground: 230 67% 97%;
    --sidebar-border: 232 32% 30%;
    --sidebar-ring: 230 67% 97%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
